@import "./variables.scss";

@import "./reset.scss";

@import "./utils";

@import "./atoms/label-status";

@import "./components/btn";
@import "./components/card-work";

@import "./todo";

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-family: 'Readex Pro', sans-serif;
  cursor: default;
}

.heading-page {
  font-size: var(--font-size-larger);
  font-weight: 400;
}

.heading-section {
  font-size: var(--font-size-large);
  font-weight: 400;
}

.page-center {
  margin: 0 auto;
  padding: 0 var(--page-max-width--padding);
  max-width: calc(var(--page-max-width) + var(--page-max-width--padding));
}
