.contact-item {
  display: flex;
}

.contact-item__btn {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.contact-item__link {
  margin: 0 0 0 1rem;
  text-decoration: none;
  font-size: var(--font-size-base);
}

.contact-item__link__content {
  color: #000;
  text-decoration: underline;
}

.contact-item__link__meta {
  margin-top: 0.2rem;
  display: block;
  color: var(--color-grey-500);
  font-size: var(--font-size-small);
}
