
$responsive-mobile-small: 360px;
$responsive-mobile-landscape: 600px;
$responsive-tablet-portrait: 700px;
$responsive-tablet-landscape: 960px;
$responsive-desktop: 1180px;
$responsive-desktop-hd: 1600px;
