@import "~/assets/css/variables.scss";

.contact-links {
  align-self: end;
  grid-column: 1;
  padding: 0;

  @media (min-width: $responsive-tablet-portrait) {
    grid-column: 2;
    grid-row: 3;
    padding-inline-start: 3rem;
  }
}
